/****

COMMON

****/

body {
  font-family: monospace, sans-serif;
  background-color: #a8a8ab !important;
  color: #000;
}

body .container {
  font-weight: bold;
}

.font-primary1 {
  color: #00abae;
  font-weight: bolder;
  font-size: 30px;
}

.font-primary {
  color: #00abae;
  font-weight: bolder;
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a.font-black {
  color: #000 !important;
  font-weight: bold;
}

/****

ABOUT

****/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 50%;
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 21px;
  color: #000;
  font-weight: bolder;
}
#about .vocation {
  font-size: 17px;
  color: #000;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 15px;
  color: #00abae;
  font-weight: bold;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 14px;
}

#about .em {
  color: #000;
  font-weight: bold;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}

#about .icons a {
  color: black;
}

/*****

Project

*****/

#project {
  margin: 60px auto;
  max-width: 80%;
}

#project .card img {
  width: 100%;
}

#project .card-title {
  font-weight: bold;
}

a .btn {
  background-color: #00abae;
  color: #000;
}
